body {
  font-family: "PWRoughs", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

@font-face {
  font-family: "PWRoughs";
  src: url("fonts/PWRoughs.ttf");
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 20vh;
}

a {
  text-decoration: none;
  color: inherit;
}
.logo {
  width: auto;
  height: calc(1.5rem + 15vh);
  margin-left: -1vw;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 5vw;
  font-size: calc(1.5rem + 0.8vw);
}

.home {
  display: flex;
  width: 100%;
  height: 80vh;
}
.left {
  width: 55%;
  padding-left: 7vw;
}

.arrow_div {
  display: flex;
  justify-content: flex-end;
}

.arrow_img {
  width: 13vw;
}
.right {
  background-image: url("assets/pic.png");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 95vh;
  margin-top: -10rem;
}

h2 {
  font-size: calc(2rem + 6vw);
  padding: 0;
  font-weight: normal;
  margin-bottom: -4vh;
}

h3 {
  font-size: calc(2rem + 3.5vw);
  margin: 0;
  font-weight: normal;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-left: 2vw;
  position: fixed;
}

.drawing-line {
  height: 53vh;
  width: auto;
}

.linkedin-icon,
.github-icon {
  width: 4.5vh;
  height: auto;
}

a li {
  margin: 1rem;
  padding: 1rem;
}
a li:hover,
a li:active {
  border-width: 1px 2px 1px 3px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  margin: 1rem;
  padding: 1rem;
  border: solid rgb(43, 43, 43);
}

.see_more {
  position: absolute;
  bottom: 15px;
  left: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.see_more p {
  font-size: calc(1rem + 1vw);
  margin: 0;
}

.see_more img {
  height: 7vh;
}

.top_arrow {
  height: 22vh;
  transform: rotate(30deg);
  margin-bottom: -8rem;
  margin-top: -2rem;
}

.about {
  height: 100vh;
  font-size: calc(1.5rem + 3vh);
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  height: 100vh;
  font-size: calc(1.5rem + 3vh);
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  height: 100vh;
  font-size: calc(1.5rem + 3vh);
  padding-left: 9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #ff0000 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

/* Styles for the carousel items */
.owl-carousel .item {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  border-width: 1px 2px 1px 3px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  padding: 1rem;
  border: solid rgb(43, 43, 43);
}

.owl-carousel .item .content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.owl-carousel .item h3 {
  margin: 0;
  font-size: 24px;
}

.owl-carousel .item p {
  margin: 5px 0 0;
  font-size: 16px;
}
